@using Entities.Concrete
@model Entities.Concrete.City
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var countries = ViewBag.Countries as List<Country>;
}

<div class="row mx-0">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-controller="City" asp-action="Add">
                    <div class="row mx-0">
                        <div class="col-6">
                            <label for="name">Name:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" name="Name" class="form-control" id="name" />
                        </div>
                    </div>
                    <div class="row mx-0 mt-2">
                        <div class="col-6">
                            <label for="country">Country:</label>
                        </div>
                        <div class="col-6">
                            <select name="CountryID" class="form-control" id="country">
                                @foreach (var country in countries)
                                {
                                    <option value="@country.ID">@country.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6 offset-6">
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
